[submodule "CS100/googletest"]
	path = CS100/googletest
	url = https://github.com/google/googletest.git
[submodule "CS100/CourseNotes/googletest"]
	path = CS100/CourseNotes/googletest
	url = https://github.com/google/googletest.git
